<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"></link>
<link rel="stylesheet" href="app.css" />

</head>
<body>

<div class="flex-Container">
      <div class="container">
        <h1>JOIN US</h1>
         <P class="lead"
              >Enter your email to join <strong><%=users%></strong> others on our waitlist.
                We are 100% not a cult</P>
        <form method="POST" action="/register">
              <input type="text" name="email" placeholder="Enter your email" class="form" />
              <button>JOIN NOW</button>
         </form>

        </div>
</div>

</body>





