body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(66, 69, 86);
  text-shadow: 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
  background-image: url("http://i.imgur.com/BJP2Q1j.jpg");
  background-size: cover;
  font-weight: 100;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 300px;
  margin: 0;
  line-height: 400px;
}

p {
  margin: 0;
  font-size: 50px;
}

.form {
  line-height: 1.5;
  border: none;
  border-bottom: 3px solid #ebebeb;
  margin-top: 100px;
  width: 700px;
  font-size: 2.9rem;
  color: white;
  padding: 5px 10px;
  background: transparent;
}

button:hover {
  opacity: 0;
}

input[type="text"]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}

button {
  line-height: 2;
  border: 3px solid white;
  font-size: 1.9rem;
  color: rgb(66, 69, 86);
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  opacity: 0.8;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
